@media screen and (max-width: 1500px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 22px;
    }

    #menu{
        grid-template-columns: 13% 56% 15% 10% 3% 4%;
    }

    #menu a{
        letter-spacing: 0;
    }

    .head-img section{
        font-size: xx-large;
    }

    .form-control label,
    .form-control input,
    .form-control span{
        font-size: 1.2em;
    }

    .search-table{
        margin: 0;
    }

    .form-group select, .form-group input, .form-group textarea {
        display: block;
        margin-top: 25px;
        width: 89px;
        text-align: center;
        font-size: medium;
        border-radius: 8px;
        border: 2px solid var(--main-font-color);
        color: var(--main-font-color);
    }

    .form-group label {
        font-size: medium;
    }

    .arrow-right {
        width: 90px;
    }

    #cesiones{
        font-size: 0.8em;
    }

    #result ul, #complete ul {
        font-size: small;
    }

    .csv-files section button{
        font-size: x-small;
    }
}