:root{
  --main-font-color: hsl(230.4, 41.666666666666664%, 47.05882352941176%);
  --second-bg-color: hsl(230.4, 11.666666666667%, 72.058823529412%);
  --search-line: hsla(230.4, 27.666666666667%,82.058823529412%, 1);
  --cards-border-color: hsl(230.4, 61.666666666667%, 97.058823529412%);
  --cards-active-color: hsl(230.4, 64.666666666667%, 74.058823529412%);
  --bg-body-color: hsl(230.4, -15.333333333333%, 114.05882352941%);
  --bg-font-color: hsl(230.4, 42.666666666667%, 25.058823529412%);
  --invert-img-filter: invert(0);
  }