:root{
  --main-font-color: hsl(278.796992481203, 100%, 26.078431372549023%);
  --second-bg-color: hsl(278.796992481203, 70%, 51.078431372549%);
  --search-line: hsla(278.796992481203, 86%,61.078431372549%, 1);
  --cards-border-color: hsl(278.796992481203, 120%, 76.078431372549%);
  --cards-active-color: hsl(278.796992481203, 123%, 53.078431372549%);
  --bg-body-color: hsl(278.796992481203, 43%, 93.078431372549%);
  --bg-font-color: hsl(278.796992481203, 101%, 4.078431372549%);
  --invert-img-filter: invert(0);
  }