:root{
  --main-font-color: hsl(276.07361963190186, 100%, 31.960784313725487%);
  --second-bg-color: hsl(276.07361963190186, 70%, 56.960784313725%);
  --search-line: hsla(276.07361963190186, 86%,66.960784313725%, 1);
  --cards-border-color: hsl(276.07361963190186, 120%, 81.960784313725%);
  --cards-active-color: hsl(276.07361963190186, 123%, 58.960784313725%);
  --bg-body-color: hsl(276.07361963190186, 43%, 98.960784313725%);
  --bg-font-color: hsl(276.07361963190186, 101%, 9.9607843137255%);
  --invert-img-filter: invert(0);
  }