:root{
  --main-font-color: hsl(290.7692307692307, 55.55555555555555%, 22.941176470588236%);
  --second-bg-color: hsl(290.7692307692307, 25.555555555556%, 47.941176470588%);
  --search-line: hsla(290.7692307692307, 41.555555555556%,57.941176470588%, 1);
  --cards-border-color: hsl(290.7692307692307, 75.555555555556%, 72.941176470588%);
  --cards-active-color: hsl(290.7692307692307, 78.555555555556%, 49.941176470588%);
  --bg-body-color: hsl(290.7692307692307, -1.4444444444444%, 89.941176470588%);
  --bg-font-color: hsl(290.7692307692307, 56.555555555556%, 0.94117647058824%);
  --invert-img-filter: invert(0);
  }