:root{
  --main-font-color: hsl(246.66666666666669, 29.411764705882355%, 30%);
  --second-bg-color: hsl(246.66666666666669, -0.58823529411764%, 55%);
  --search-line: hsla(246.66666666666669, 15.411764705882%,65%, 1);
  --cards-border-color: hsl(246.66666666666669, 49.411764705882%, 80%);
  --cards-active-color: hsl(246.66666666666669, 52.411764705882%, 57%);
  --bg-body-color: hsl(246.66666666666669, -27.588235294118%, 97%);
  --bg-font-color: hsl(246.66666666666669, 30.411764705882%, 8%);
  --invert-img-filter: invert(0);
  }