:root{
  --main-font-color: hsl(237.69230769230768, 69.14893617021276%, 36.86274509803922%);
  --second-bg-color: hsl(237.69230769230768, 39.148936170213%, 61.862745098039%);
  --search-line: hsla(237.69230769230768, 55.148936170213%,71.862745098039%, 1);
  --cards-border-color: hsl(237.69230769230768, 89.148936170213%, 86.862745098039%);
  --cards-active-color: hsl(237.69230769230768, 92.148936170213%, 63.862745098039%);
  --bg-body-color: hsl(237.69230769230768, 12.148936170213%, 103.86274509804%);
  --bg-font-color: hsl(237.69230769230768, 70.148936170213%, 14.862745098039%);
  --font-color: hsl(237.69230769230768, 159.14893617021%, 96.862745098039%);
  --invert-img-filter: invert(0);
  }