:root{
  --main-font-color: hsl(75.78947368421052, 27.536231884057973%, 27.058823529411764%);
  --second-bg-color: hsl(75.78947368421052, -2.463768115942%, 52.058823529412%);
  --search-line: hsla(75.78947368421052, 13.536231884058%,62.058823529412%, 1);
  --cards-border-color: hsl(75.78947368421052, 47.536231884058%, 77.058823529412%);
  --cards-active-color: hsl(75.78947368421052, 50.536231884058%, 54.058823529412%);
  --bg-body-color: hsl(75.78947368421052, -29.463768115942%, 94.058823529412%);
  --bg-font-color: hsl(75.78947368421052, 28.536231884058%, 5.0588235294118%);
  --font-color: hsl(75.78947368421052, 117.53623188406%, 87.058823529412%);
  --invert-img-filter: invert(0);
  }