:root{
  --main-font-color: hsl(227.89699570815452, 91.37254901960785%, 50%);
  --second-bg-color: hsl(227.89699570815452, 61.372549019608%, 75%);
  --search-line: hsla(227.89699570815452, 77.372549019608%,85%, 1);
  --cards-border-color: hsl(227.89699570815452, 111.37254901961%, 100%);
  --cards-active-color: hsl(227.89699570815452, 114.37254901961%, 77%);
  --bg-body-color: hsl(227.89699570815452, 34.372549019608%, 117%);
  --bg-font-color: hsl(227.89699570815452, 92.372549019608%, 28%);
  --invert-img-filter: invert(0);
  }