:root{
  --main-font-color: hsl(120.81632653061226, 84.97109826589593%, 33.92156862745098%);
  --second-bg-color: hsl(120.81632653061226, 54.971098265896%, 58.921568627451%);
  --search-line: hsla(120.81632653061226, 70.971098265896%,68.921568627451%, 1);
  --cards-border-color: hsl(120.81632653061226, 104.9710982659%, 83.921568627451%);
  --cards-active-color: hsl(120.81632653061226, 107.9710982659%, 60.921568627451%);
  --bg-body-color: hsl(120.81632653061226, 27.971098265896%, 100.92156862745%);
  --bg-font-color: hsl(120.81632653061226, 85.971098265896%, 11.921568627451%);
  --font-color: hsl(120.81632653061226, 174.9710982659%, 93.921568627451%);
  --invert-img-filter: invert(0);
  }