:root{
  --main-font-color: hsl(219.85401459854015, 68.84422110552764%, 39.01960784313726%);
  --second-bg-color: hsl(219.85401459854015, 38.844221105528%, 64.019607843137%);
  --search-line: hsla(219.85401459854015, 54.844221105528%,54.019607843137%, 0.478);
  --cards-border-color: hsl(219.85401459854015, 88.844221105528%, 89.019607843137%);
  --cards-active-color: hsl(219.85401459854015, 91.844221105528%, 66.019607843137%);
  --bg-body-color: hsl(219.85401459854015, 11.844221105528%, 106.01960784314%);
  --bg-font-color: hsl(219.85401459854015, 69.844221105528%, 17.019607843137%);
  --invert-img-filter: invert(0);
  }