:root{
  --main-font-color: hsl(142.8, 67.56756756756758%, 29.01960784313725%);
  --second-bg-color: hsl(142.8, 37.567567567568%, 54.019607843137%);
  --search-line: hsla(142.8, 53.567567567568%,44.019607843137%, 0.478);
  --cards-border-color: hsl(142.8, 87.567567567568%, 79.019607843137%);
  --cards-active-color: hsl(142.8, 90.567567567568%, 56.019607843137%);
  --bg-body-color: hsl(142.8, 10.567567567568%, 96.019607843137%);
  --bg-font-color: hsl(142.8, 68.567567567568%, 7.0196078431373%);
  --invert-img-filter: invert(0);
  }