:root{
  --main-font-color: hsl(221.53846153846152, 23.214285714285708%, 43.92156862745098%);
  --second-bg-color: hsl(221.53846153846152, -6.7857142857143%, 68.921568627451%);
  --search-line: hsla(221.53846153846152, 9.2142857142857%,78.921568627451%, 1);
  --cards-border-color: hsl(221.53846153846152, 43.214285714286%, 93.921568627451%);
  --cards-active-color: hsl(221.53846153846152, 46.214285714286%, 70.921568627451%);
  --bg-body-color: hsl(221.53846153846152, -33.785714285714%, 110.92156862745%);
  --bg-font-color: hsl(221.53846153846152, 24.214285714286%, 21.921568627451%);
  --invert-img-filter: invert(0);
  }