:root{
  --main-font-color: hsl(264.17910447761193, 65.68627450980391%, 40%);
  --second-bg-color: hsl(264.17910447761193, 35.686274509804%, 65%);
  --search-line: hsla(264.17910447761193, 51.686274509804%,75%, 1);
  --cards-border-color: hsl(264.17910447761193, 85.686274509804%, 90%);
  --cards-active-color: hsl(264.17910447761193, 88.686274509804%, 67%);
  --bg-body-color: hsl(264.17910447761193, 8.6862745098039%, 107%);
  --bg-font-color: hsl(264.17910447761193, 66.686274509804%, 18%);
  --invert-img-filter: invert(0);
  }