:root{
  --main-font-color: hsl(102.00000000000001, 72.16494845360826%, 38.03921568627451%);
  --second-bg-color: hsl(102.00000000000001, 42.164948453608%, 63.039215686275%);
  --search-line: hsla(102.00000000000001, 58.164948453608%,73.039215686275%, 1);
  --cards-border-color: hsl(102.00000000000001, 92.164948453608%, 88.039215686275%);
  --cards-active-color: hsl(102.00000000000001, 95.164948453608%, 65.039215686275%);
  --bg-body-color: hsl(102.00000000000001, 15.164948453608%, 105.03921568627%);
  --bg-font-color: hsl(102.00000000000001, 73.164948453608%, 16.039215686275%);
  --invert-img-filter: invert(0);
  }