:root{
  --main-font-color: hsl(0, 87.62886597938146%, 19.019607843137255%);
  --second-bg-color: hsl(0, 57.628865979381%, 44.019607843137%);
  --search-line: hsla(0, 73.628865979381%,54.019607843137%, 1);
  --cards-border-color: hsl(0, 107.62886597938%, 69.019607843137%);
  --cards-active-color: hsl(0, 110.62886597938%, 46.019607843137%);
  --bg-body-color: hsl(0, 30.628865979381%, 86.019607843137%);
  --bg-font-color: hsl(0, 88.628865979381%, -2.9803921568627%);
  --invert-img-filter: invert(0);
  }