:root{
  --main-font-color: hsl(209.0748898678414, 92.65306122448979%, 48.03921568627451%);
  --second-bg-color: hsl(209.0748898678414, 62.65306122449%, 73.039215686275%);
  --search-line: hsla(209.0748898678414, 78.65306122449%,83.039215686275%, 1);
  --cards-border-color: hsl(209.0748898678414, 112.65306122449%, 98.039215686275%);
  --cards-active-color: hsl(209.0748898678414, 115.65306122449%, 75.039215686275%);
  --bg-body-color: hsl(209.0748898678414, 35.65306122449%, 115.03921568627%);
  --bg-font-color: hsl(209.0748898678414, 93.65306122449%, 26.039215686275%);
  --invert-img-filter: invert(0);
  }:root{
  --main-font-color: hsl(209.0748898678414, 92.65306122448979%, 48.03921568627451%);
  --second-bg-color: hsl(209.0748898678414, 62.65306122449%, 73.039215686275%);
  --search-line: hsla(209.0748898678414, 78.65306122449%,83.039215686275%, 1);
  --cards-border-color: hsl(209.0748898678414, 112.65306122449%, 98.039215686275%);
  --cards-active-color: hsl(209.0748898678414, 115.65306122449%, 75.039215686275%);
  --bg-body-color: hsl(209.0748898678414, 35.65306122449%, 115.03921568627%);
  --bg-font-color: hsl(209.0748898678414, 93.65306122449%, 26.039215686275%);
  --invert-img-filter: invert(0);
  }