:root{
  --main-font-color: hsl(98.99999999999999, 67.79661016949152%, 23.137254901960784%);
  --second-bg-color: hsl(98.99999999999999, 37.796610169492%, 48.137254901961%);
  --search-line: hsla(98.99999999999999, 53.796610169492%,58.137254901961%, 1);
  --cards-border-color: hsl(98.99999999999999, 87.796610169492%, 73.137254901961%);
  --cards-active-color: hsl(98.99999999999999, 90.796610169492%, 50.137254901961%);
  --bg-body-color: hsl(98.99999999999999, 10.796610169492%, 90.137254901961%);
  --bg-font-color: hsl(98.99999999999999, 68.796610169492%, 1.1372549019608%);
  --invert-img-filter: invert(0);
  }