:root{
  --main-font-color: hsl(233.11926605504587, 90.83333333333334%, 47.05882352941176%);
  --second-bg-color: hsl(233.11926605504587, 60.833333333333%, 72.058823529412%);
  --search-line: hsla(233.11926605504587, 76.833333333333%,82.058823529412%, 1);
  --cards-border-color: hsl(233.11926605504587, 110.83333333333%, 97.058823529412%);
  --cards-active-color: hsl(233.11926605504587, 113.83333333333%, 74.058823529412%);
  --bg-body-color: hsl(233.11926605504587, 33.833333333333%, 114.05882352941%);
  --bg-font-color: hsl(233.11926605504587, 91.833333333333%, 25.058823529412%);
  --invert-img-filter: invert(0);
  }