:root{
  --main-font-color: hsl(295.9550561797753, 71.2%, 49.01960784313726%);
  --second-bg-color: hsl(295.9550561797753, 41.2%, 74.019607843137%);
  --search-line: hsla(295.9550561797753, 57.2%,64.019607843137%, 0.478);
  --cards-border-color: hsl(295.9550561797753, 91.2%, 99.019607843137%);
  --cards-active-color: hsl(295.9550561797753, 94.2%, 76.019607843137%);
  --bg-body-color: hsl(295.9550561797753, 14.2%, 116.01960784314%);
  --bg-font-color: hsl(295.9550561797753, 72.2%, 27.019607843137%);
  --invert-img-filter: invert(0);
  }