:root{
  --main-font-color: hsl(228, 48.38709677419355%, 6.078431372549019%);
  --second-bg-color: hsl(228, 18.387096774194%, 31.078431372549%);
  --search-line: hsla(228, 34.387096774194%,21.078431372549%, 0.478);
  --cards-border-color: hsl(228, 68.387096774194%, 56.078431372549%);
  --cards-active-color: hsl(228, 71.387096774194%, 33.078431372549%);
  --bg-body-color: hsl(228, -8.6129032258064%, 73.078431372549%);
  --bg-font-color: hsl(228, 49.387096774194%, -15.921568627451%);
  --invert-img-filter: invert(0);
  }