:root{
  --main-font-color: hsl(184.0223463687151, 100%, 35.09803921568627%);
  --second-bg-color: hsl(184.0223463687151, 70%, 60.098039215686%);
  --search-line: hsla(184.0223463687151, 86%,50.098039215686%, 0.478);
  --cards-border-color: hsl(184.0223463687151, 120%, 85.098039215686%);
  --cards-active-color: hsl(184.0223463687151, 123%, 62.098039215686%);
  --bg-body-color: hsl(184.0223463687151, 43%, 102.09803921569%);
  --bg-font-color: hsl(184.0223463687151, 101%, 13.098039215686%);
  --invert-img-filter: invert(0);
  }