:root{
  --main-font-color: hsl(130.11235955056182, 71.2%, 50.98039215686274%);
  --second-bg-color: hsl(130.11235955056182, 41.2%, 75.980392156863%);
  --search-line: hsla(130.11235955056182, 57.2%,85.980392156863%, 1);
  --cards-border-color: hsl(130.11235955056182, 91.2%, 100.98039215686%);
  --cards-active-color: hsl(130.11235955056182, 94.2%, 77.980392156863%);
  --bg-body-color: hsl(130.11235955056182, 14.2%, 117.98039215686%);
  --bg-font-color: hsl(130.11235955056182, 72.2%, 28.980392156863%);
  --font-color: hsl(130.11235955056182, 161.2%, 140.98039215686%);
  --invert-img-filter: invert(0);
  }