:root{
  --main-font-color: hsl(0, 69.1588785046729%, 41.96078431372549%);
  --second-bg-color: hsl(0, 39.158878504673%, 66.960784313725%);
  --search-line: hsla(0, 55.158878504673%,76.960784313725%, 1);
  --cards-border-color: hsl(0, 89.158878504673%, 91.960784313725%);
  --cards-active-color: hsl(0, 92.158878504673%, 68.960784313725%);
  --bg-body-color: hsl(0, 12.158878504673%, 108.96078431373%);
  --bg-font-color: hsl(0, 70.158878504673%, 19.960784313725%);
  --font-color: hsl(0, 159.15887850467%, 101.96078431373%);
  --invert-img-filter: invert(0);
  }