:root{
  --main-font-color: hsl(75.9493670886076, 90.80459770114942%, 17.058823529411764%);
  --second-bg-color: hsl(75.9493670886076, 60.804597701149%, 42.058823529412%);
  --search-line: hsla(75.9493670886076, 76.804597701149%,52.058823529412%, 1);
  --cards-border-color: hsl(75.9493670886076, 110.80459770115%, 67.058823529412%);
  --cards-active-color: hsl(75.9493670886076, 113.80459770115%, 44.058823529412%);
  --bg-body-color: hsl(75.9493670886076, 33.804597701149%, 84.058823529412%);
  --bg-font-color: hsl(75.9493670886076, 91.804597701149%, -4.9411764705882%);
  --font-color: hsl(75.9493670886076, 180.80459770115%, 77.058823529412%);
  --invert-img-filter: invert(0);
  }