:root{
  --main-font-color: hsl(220.9090909090909, 18.644067796610177%, 46.27450980392157%);
  --second-bg-color: hsl(220.9090909090909, -11.35593220339%, 71.274509803922%);
  --search-line: hsla(220.9090909090909, 4.6440677966102%,81.274509803922%, 1);
  --cards-border-color: hsl(220.9090909090909, 38.64406779661%, 96.274509803922%);
  --cards-active-color: hsl(220.9090909090909, 41.64406779661%, 73.274509803922%);
  --bg-body-color: hsl(220.9090909090909, -38.35593220339%, 113.27450980392%);
  --bg-font-color: hsl(220.9090909090909, 19.64406779661%, 24.274509803922%);
  --invert-img-filter: invert(0);
  }