:root{
  --main-font-color: hsl(207.90697674418607, 35.83333333333333%, 47.05882352941176%);
  --second-bg-color: hsl(207.90697674418607, 5.8333333333333%, 72.058823529412%);
  --search-line: hsla(207.90697674418607, 21.833333333333%,82.058823529412%, 1);
  --cards-border-color: hsl(207.90697674418607, 55.833333333333%, 97.058823529412%);
  --cards-active-color: hsl(207.90697674418607, 58.833333333333%, 74.058823529412%);
  --bg-body-color: hsl(207.90697674418607, -21.166666666667%, 114.05882352941%);
  --bg-font-color: hsl(207.90697674418607, 36.833333333333%, 25.058823529412%);
  --invert-img-filter: invert(0);
  }