:root{
  --main-font-color: hsl(137.9640718562874, 79.90430622009569%, 40.98039215686275%);
  --second-bg-color: hsl(137.9640718562874, 49.904306220096%, 65.980392156863%);
  --search-line: hsla(137.9640718562874, 65.904306220096%,55.980392156863%, 0.478);
  --cards-border-color: hsl(137.9640718562874, 99.904306220096%, 90.980392156863%);
  --cards-active-color: hsl(137.9640718562874, 102.9043062201%, 67.980392156863%);
  --bg-body-color: hsl(137.9640718562874, 22.904306220096%, 107.98039215686%);
  --bg-font-color: hsl(137.9640718562874, 80.904306220096%, 18.980392156863%);
  --invert-img-filter: invert(0);
  }