:root{
  --main-font-color: hsl(112.25806451612901, 100%, 93.92156862745098%);
  --second-bg-color: hsl(112.25806451612901, 70%, 118.92156862745%);
  --search-line: hsla(112.25806451612901, 86%,128.92156862745%, 1);
  --cards-border-color: hsl(112.25806451612901, 120%, 143.92156862745%);
  --cards-active-color: hsl(112.25806451612901, 123%, 120.92156862745%);
  --bg-body-color: hsl(112.25806451612901, 43%, 160.92156862745%);
  --bg-font-color: hsl(112.25806451612901, 101%, 71.921568627451%);
  --invert-img-filter: invert(0);
  }