:root{
  --main-font-color: hsl(184.39024390243904, 50.20408163265305%, 48.03921568627451%);
  --second-bg-color: hsl(184.39024390243904, 20.204081632653%, 73.039215686275%);
  --search-line: hsla(184.39024390243904, 36.204081632653%,63.039215686275%, 0.478);
  --cards-border-color: hsl(184.39024390243904, 70.204081632653%, 98.039215686275%);
  --cards-active-color: hsl(184.39024390243904, 73.204081632653%, 75.039215686275%);
  --bg-body-color: hsl(184.39024390243904, -6.7959183673469%, 115.03921568627%);
  --bg-font-color: hsl(184.39024390243904, 51.204081632653%, 26.039215686275%);
  --invert-img-filter: invert(0);
  }