
@font-face {
  font-family: nunito;
  src: url('../fonts/Nunito-VariableFont_wght.ttf');
}

:root{
    --main-notification-bg-color: hsl(118deg, 85.46%, 17.49%);
    --main-notification-font-color: hsl(75.29deg, 100%, 50%);
    --sz: 10vmin;
}

html{
    color: var(--bg-font-color);
    scrollbar-width: thin;
}

body{
    font-family: nunito, arial; 
    letter-spacing: .01em;
    font-size: .6em;
    margin: 0px;
    background: var(--bg-body-color);
    opacity: .9;
}

body::after{
    background-image: url(../img/Logo-PPCR-2022.png);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    content: "";//*
    background: var(--bg-body-color);
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; */
}

.goldText{
    color: gold;
    text-shadow: 0 0 black;
}

iframe{
    border:none;
    width:100%;
    height:150px;
}

.alertRibon{
    background-color: red;
    text-align: center;
    font-size: large;
    font-weight: 900;
    border-bottom: 3px solid black;
}

.alertHiden{
    display: none;
}

.switch{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.switch input[type="checkbox"]{
    display: none;
}

.switch div{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.switch div:before{
    content: "";
    background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
    box-shadow: 0 0 calc(var(--sz) / 3) 0 #003ef520, 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #003ef520 inset;
    border-radius: var(--sz);
}

.switch div:hover{
    transform: brightness(255);
    transition-duration: .3s;
}

.switch div:active{
    background-color: #12ff00;
    box-shadow: 0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
    transition-duration: .3s;
}

.switchOff{
    background-color: rgb(41, 45, 48);
    box-shadow: 0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
    transition-duration: .3s;
}

.switchOn{
    background-color: #12ff00;
    box-shadow: 0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) rgba(136, 255, 0, 0.533), 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #48ff00, 0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
}

.libreta{
    height:400px;
}

.formNotebook{
    display: grid;
    grid-template-columns: 10% 80%;
    justify-content: center;
    grid-gap: 8px;
    margin-top: 10px;
}

.formPrivatePass{
    font-size: x-large;
    display: flex;
    align-content: center;
    justify-content: start;
    input{
        width: 30px;
        height: 30px;
    }
}

button{
  font-family: nunito, arial;
  background-color: var(--cards-border-color);
  color: var(--main-font-color);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--cards-active-color);
  cursor: pointer;
  box-shadow: 2px 2px var(--bg-font-color);
}

button:hover{
    background-color: var(--bg-body-color);
    color: var(--bg-font-color);
    box-shadow: 2px 2px var(--bg-font-color);
}

button:active{
    box-shadow: none !important;
    transform: translate(1px, 1px);
}

button:disabled{
    background-color: var(--cards-border-color);
    color: var(--cards-active-color);
    border: 1px solid var(--cards-active-color);
    cursor: not-allowed;
    transform: translate(1px, 1px);
    box-shadow: none;
}

select, input{
  font-family: nunito, Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 400px;
    border: 1px solid #0000007a;
    border-radius: 10px;
}

@keyframes brillo{
    0%{background-position: 0 50%;}
    100%{background-position: 100% 50%;}
}

.name {
    width: 250px;
    border: 2px solid var(--bg-font-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-font-color);
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-font-color);
}

.pie{
    font-size: 12px;
}

.submenu_mostrador{
    position: absolute;
    padding-inline-start: 0;
    font-weight: 500;
    font-size: .8em;
    margin-block: 0;
    z-index: 999;
    text-align: center;
    color: var(--main-font-color);
    background-color: var(--bg-body-color);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 7px 1px black;
    p{
        margin-block: 0;
    }
    p:hover{
        color: var(--search-line);
    }
}

.submenu_mostrador_hidden{
    display: none;
}

.head-img section{
    color: var(--main-font-color);
    font-size: larger;
    text-align: center;
    font-size: xxx-large;
}

.hidden{
    opacity: 0;
}

.hide section{
    animation: rule 5s linear;
}

.head-img img{
    display: none;
}

.hover-action:hover{
    filter: brightness(20);
    cursor: pointer;
}

@keyframes rule {
    0% { text-shadow:0px 0px 0px var(--bg-font-color); }
    17% { text-shadow:5px 5px 5px var(--bg-font-color); }
    32% { text-shadow:0px 5px 5px var(--bg-font-color); }
    48% { text-shadow:-5px 0px 5px var(--bg-font-color); }
    64% { text-shadow:-5px -5px 5px var(--bg-font-color); }
    80% { text-shadow:0px -5px 5px var(--bg-font-color); }
    90% { text-shadow:5px 0px 5px var(--bg-font-color); }
    100% { text-shadow:0px 0px 0px var(--bg-font-color); }
}

.filter{
    filter: blur(6px);
    pointer-events: none;
}

.note-active{
    background-color: var(--second-bg-color);
    position: fixed;
    margin-left: calc((100% / 2) - 280px);
    width: 500px;
    height: 500px;
    top: 15%;
    align-items: center;
    border: 1px solid var(--bg-font-color);
    padding: 8px;
    cursor: default;
    opacity: .95;
    border-radius: 8px;
    z-index: 9;
    animation: popup .3s normal;
    overflow: hidden;
    box-shadow: 0px 0px 16px;
}

.rebound{
    animation: rebound .2s;
}

@keyframes rebound {
    0% {transform: scale(1.0);}
    25% {transform: scale(1.05);}
    50% {transform: scale(1.0);}
    75% {transform: scale(1.05);}
    100% {transform: scale(1.0);}
}

.note-active::backdrop{
    background-color: #3b4b83;
}

.note-desactive{
    background-color: var(--second-bg-color);
    position: fixed;
    margin-left: calc((100% / 2) - 280px);
    width: 0px;
    height: 10px;
    top: 15%;
    align-items: center;
    border: 2px solid var(--bg-font-color);
    padding: 8px;
    cursor: default;
    opacity: .95;
    border-radius: 8px;
    z-index: 9;
    overflow: hidden;
    animation: popout 0.3s ease-out;
}

@keyframes popout{
    0%{
        width: 500px;
        height: 500px;
    }
    60%{
        width: 500px;
        height: 10px;
    }
    100%{
        width: 0px;
        height: 10px;
    }
} 

@keyframes popup {
    0%{
        width: 0px;
        height: 10px;
    }
    40%{
        width: 500px;
        height: 10px;
    }
    100%{
        width: 500px;
        height: 500px;
    }
}

.note-btn{
    display: flex;
    float: right;
    padding: 2px 2px;
    box-shadow: 2px 2px;
    border-radius: 4px;
    width: 25px;
    background-color: #bbbbbb;
    cursor: pointer;
}

.note-btn:hover{
    color: var(--second-bg-color);
}

.note-btn:hover img{
    filter: invert(1);
}

.note-body,
.note-body a,
.note-body input,
.note-body select{
  color: var(--bg-body-color);
  font-size: 1.2em;
  margin: 5px;
  animation: showLater .5s normal;
}

.note-body h2{
  text-align: center;
  border-bottom: solid 2px var(--bg-font-color);
}

.note-body form{
    display: grid;
    grid-template-columns:20% 70%;
    justify-content: center;
    grid-gap: 5px;
    font-size: medium;
    align-items: center;
    overflow-y: scroll;
}

.note-body input,
.note-body select{
  color: var(--main-font-color);
}

.note-body input[type="submit"],
.note-body select{
    display: inline-table;
    color: var(--main-font-color);
}

.note-body textarea{
    width: 450px;
    height: 360px;
    border: none;
    padding: 14px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.note-body textarea:focus-visible{
    outline: none;
}

#opr,
#cvkw{
    grid-template-columns: 35% 41%;
}

.blackboard{
    background-color: var(--bg-body-color);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px;
}

@keyframes showLater {
    0%{display: none;}
    80%{display: none;}
    100%{display: block;}
}

.btn-plus{
    background-color: #bbbbbb;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px;
    display: inline-block;
    margin-right: 5px;
}

.btn-plus:hover{
    opacity: .8;
}

.btn-plus:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}

.link{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.link:hover{
    color: var(--bg-body-colors);
}

.split-screen{
    display: grid;
    grid-template-columns: 15% 85%;
}

.barra_lateral{
    padding: 100px 0 0 10px;
    font-size: large;
    .btn{
        background-color: var(--bg-body-color);
        color: var(--main-font-color);
        padding: 8px;
        border-radius: 8px;
        border: 1px solid var(--main-font-color);
        box-shadow: 2px 2px var(--bg-font-color);
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
    }
    .active{
        background-color: var(--main-font-color);
        color: var(--bg-body-color);
        box-shadow: 2px 2px var(--bg-font-color);
    }
}


.form-control{
    height: 25px;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.form-control label{
    color: var(--main-font-color);
    opacity: 1;
    cursor: text;
    pointer-events: none;
    z-index: 1;
    font-size: 1.8em;
    transform: translate(12px, -28px);
    transition: .3s;
}

.form-control input{
    border: 0;
    padding: 28px 0 0 6px;
    color: transparent;
    background-color: transparent;
    border-bottom: 1px solid var(--main-font-color);
    transition: .3s;
}

.form-control input {
    outline: none;
    color: var(--main-font-color);
    border-width: 2px;
    font-size: 21px;
    z-index: 999;
    transition: .3s;
}

.form-control label{
    display: block;
    opacity: 1;
    transition: .3s;
    transform: translate(12px ,-59px);
    font-size: .8em;
}

.container-search-bar{
    display: flex;
    justify-content: space-around;
}

.form-control span{
    padding: 8px;
    text-align: center;
    display: none;
    background-color: var(--bg-body-color);
    font-size: 1.8em;
}

/*.form-control input:focus ~  span,
.form-control span:hover{
    color: var(--main-font-color);
    display: block;
}*/

.is_repere{
    color: var(--main-font-color);
    display: block !important;
}

.search{
    background-color:var(--bg-body-color);
    background-size: 100% 4px;
    padding: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0 0000007a;
    color: var(--bg-body-color);
    border-radius: 8px;
    }

.search-line{
    display: flex;
    align-items: center;
    border: 1px solid #6e6e6e7a;
    border-radius: 50px;
    transition: .2s;
    margin: 10px 0;
}

.search-line select{
    background-color: transparent;
    border: none;
    color: var(--main-font-color);
    margin-right: 8px;
    text-align: right;
    appearance: none;
}

.search-line option{
    text-align: center;
}

.search-line option{
    background-color: var(--cards-active-color);
    color: var(--bg-font-color);
    font-size: large;
}

.search-line select:focus-visible{
    outline: none;
}

.client{
    width: 50%;
}

.search-line:hover{
    box-shadow: 1px 1px 8px var(--bg-font-color);
}

.search-focused{
    box-shadow: 1px 1px 8px var(--bg-font-color);
}

.search-line input{
    background-size: 100% 4px;
    padding: 4px;
    border: none;
    border-radius: 8px;
    width: calc(100% - 40px);
    font-size: large;
    background-color: var(--bg-body-color);
    color: var(--main-font-color);
}

.textbox{
    width: 100%;
}

.search-line input:focus{   
    outline: none;
    font-stretch: ultra-expanded;
}

.lupa{
    width: 20px;
    padding: 10px;
    opacity: .6;
}

.form-new{
    padding: 3px;
}

.form-new input[type="submit"]{
    padding: 8px;
    margin: auto;
    width: 73px;
}

.form-new select{
    height: 30px;
    margin: 1px 5px;
}

.formNewContact{
    display: grid;
    grid-template-columns: 14% 83%;
    grid-gap: 8px;
}

.btn-config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    

.cards{
    padding: 14px;
    width: 150px;
    height: 20px;
    background-color:var(--main-font-color);
    border-radius: 8px;
    text-align: center;
    display: flex;
    box-shadow: 0 0 5px 2px var(--bg-font-color);
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    border: 2px solid;
    color: var(--bg-body-color);
    margin: 10px;
    cursor: pointer;
}

.cards:hover{
    background-color: var(--cards-active-color);
}

input[type="color"] {
    appearance:     none;
	-webkit-appearance: none;
	border: none;
    width: 100%;
    height: 81px;
    border-radius: 8px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.libreta_img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.libreta_img img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.libreta_img img:hover{
    transform: scale(1.5);
    transition: .3s;
}

.new_note{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#contacts{
    display: grid;
    grid-template-columns:20% 70% 10%;
    position: sticky;
    background-color: var(--bg-body-color);
    z-index: 3;
    top: 53px;
    height: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
}

#contacts h1{
    position: sticky;
    display: inline-block;
    margin-left: 1%;
}

#contacts img{
    margin-right: 12px;
}

#route-items,
#contacts-items,
.pass-items,
#center-list-items{
    max-width: 1700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.titleCenter{
  text-align: center;
  border-bottom: 4px solid var(--main-font-color);
  margin: 10px auto 0 auto;
}

#cesiones{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cesiones h1{
    text-align: center;
    margin-top: calc(100vh - 50%);
    letter-spacing: normal;
    animation: noAssigns 5s infinite ease-in-out;
}

.contacts select{
    width: 150px;
    border: 2px solid var(--main-font-color);
    border-radius: 8px;
    font-size: 2em;
    text-transform: uppercase;
    height: fit-content;
}

.btnheader{
    a{
        text-decoration: none;
        background: var(--cards-border-color);
        padding: 8px;
        border-radius: 4px;
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
    }
    a:hover{
        background: var(--cards-active-color);
        color: var(--bg-body-color);
        box-shadow: 2px 2px 2px black;
    }
    a:active{
        box-shadow: none;
        transform: translate(1px, 1px);
    }
}

.libre textarea{
    background-color: var(--bg-body-color);
}

.libre{
    background-color: #9cff95 !important;
}

@keyframes noAssigns {
    0%{letter-spacing: normal;}
    50%{letter-spacing: 10px;}
    100%{letter-spacing: normal;}
}

.marcado{
  color:red !important;
}

.equal{
  color: rgb(28 192 64) !important;
}

#contacts-items a{
    color: var(--main-font-color);
}

#contacts-items ul,
#route-items ul,
#cesiones ul,
.pass-items ul,
.pass-items #complete ul,
#center-list-items ul{
    border-radius: 5px;
    margin: 0;
    display: grid;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

#contacts-items .header-title{
    background-color: inherit !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contacts-items ul.header-title:hover{
    background-color: transparent !important;
    box-shadow: none;
}

#route-items ul{
    grid-template-columns: 5% 5% 24% 24% 14% 5% 7% 6% 5% 5%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.infoClient li{
    list-style: none;
    font-size: 1.5em;
}

.pass-items ul,
.pass-items #complete ul
{
    grid-template-columns: 23% 15% 13% 25% 17% 7%;
    justify-content: center;
}

#center-list-items ul{
  grid-template-columns: 9% 23% 18% 5% 5% 10% 10% 15% 5%;;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-title-contacts{
    background-color: inherit !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 35px 0 0 0;
    justify-content: space-around;
}

.jefes{
  font-weight: 900!important;
}

/*#cesiones ul{
  padding-inline-start: 0;
  grid-template-columns: 4% 7% 9% 11% 20% 5% 4% 5% 10% 9% 7% 6% 2%;
}*/

#cesiones ul li select{
    font-size: 12px;
    font-weight: 700;
    font-family: nunito;
    border: none;
    border-radius: 3px;
    padding: 3px 0;
    background: linear-gradient(123deg, var(--second-bg-color), var(--cards-border-color));
    box-shadow: 2px 2px black;
    appearance: none;
    width: 80px;
    text-align: center;
}

#cesiones ul li select:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

#cesiones .assignPendingAdv{
  grid-template-columns: 3% 13% 8% 15% 12% 5% 8% 3% 3% 3% 7% 4% 4% 8%;
}

#cesiones .tableLegend{
  display: flex;
  flex-direction: column;
}

#cesiones .legend{
  font-size: xx-small;
  text-align: center;
}

#cesiones .storage{
    font-size: large;
}

#cesiones .assignPendingAdv textarea{
    resize: none;
    border: none;
    font-family: nunito, arial;
    border-radius: 4px;
}

#cesiones .assignPendingAdv:nth-child(even) textarea{
    background-color: var(--bg-body-color);
}

#cesiones .assignPendingAdv:nth-child(odd) textarea{
    background-color: var(--search-line);
}

#cesiones .assignPendingAdv textarea:focus{
    background-color: var(--cards-active-color);
    color: var(--main-font-color);
    outline-width: 0px;
}

.ledOff{
    border-radius: 50% 50%;
    width: 15px;
    height: 15px;
    padding: 1px;
    left: 11px;
    color: var(--bg-body-color);
    text-align: center;
    cursor: pointer;
    background-color: #233f21;
    box-shadow: 0 0 10px rgba(3, 2, 2, 0.7);
    border: 2px solid #507340;
}

.ledOn{
    background-color: #12ff00;
    box-shadow: 0 0 10px rgb(0 103 /0 70%);
    border: 2px solid #206600;
    color: var(--bg-font-color);
}

.ledRed{
    background-color: #ff0000;
    box-shadow: 0 0 10px rgb(0 103 /0 70%);
    border: 2px solid #660000;
    color: var(--bg-font-color);
}

.ledOff:hover,
.ledOn:hover{
    filter: brightness(1.3);
}

.send{
    font-size: large;
    border-radius: 5px;
    background-color: var(--bg-font-color);
    box-shadow: #000000 1px 1px 4px 0px;
    padding: 2px;
    border: 2px solid black;
    span{
        cursor: pointer;
        padding: 1px;
        border-radius: 8px;
        color: var(--font-color);
    }
    span:hover{
        color: var(--cards-active-color);
    }
}

.send span:hover{
  filter: brightness(1.5);
}

#cesiones .origenCesion{
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  cursor: pointer;
  justify-items: center;
}

#cesiones .heading li:first-child{
    grid-template-columns: 50% 50%;
}

#cesiones button{
  margin-top: 10px;
  margin-left: calc(50% - 75px);
  width: 150px;
}

#cesiones ul{
    display: grid;
    grid-template-columns: 5% 8% 7% 13% 18% 6% 5% 5% 9% 7% 7% 5% 5%;
}

#route-items ul:nth-child(even),
#contacts-items ul:nth-child(even),
#cesiones ul:nth-child(even),
.pass-items ul:nth-child(even),
.pass-items #complete ul:nth-child(even),
#center-list-items ul:nth-child(even),
#contacts-items ul:nth-child(even) textarea{
  background-color: var(--bg-body-color);
  color: var(--main-font-color);
  padding: 0;
  width: 95%;
  padding: 5px 0;
  margin: auto;
}

#route-items ul:nth-child(odd),
#contacts-items ul:nth-child(odd),
#cesiones ul:nth-child(odd),
.pass-items ul:nth-child(odd),
.pass-items #complete ul:nth-child(odd),
#center-list-items ul:nth-child(odd),
#contacts-items ul:nth-child(odd) textarea{
    background-color: var(--search-line);
    color: var(--main-font-color);
    padding: 0;
    width: 95%;
    padding: 5px 0;
    margin: auto;
}

#route-items ul:hover,
#contacts-items ul:hover,
#cesiones ul:hover,
.pass-items ul:hover,
.pass-items #complete ul:hover,
#center-list-items ul:hover{
    background-color: var(--main-font-color);
    box-shadow: 0px 0px 13px var(--bg-font-color);
    color: var(--bg-body-color);
    cursor: context-menu;
    position: relative;
    transition: .2s;
}

#cesiones ul:nth-child(odd):hover textarea{
    color: var(--bg-body-color);
    background-color: var(--main-font-color);
}

#cesiones ul:nth-child(even):hover textarea{
    color: var(--bg-body-color);
    background-color: var(--main-font-color);
}

#cesiones ul textarea:hover {
    cursor: text;
}

#cesiones ul:hover textarea {
    box-shadow: none !important;
}

#contacts-items ul:hover a{
    color:var(--bg-body-color);
}

.filter-oil{
    display: flex;
    flex-direction: column;
}

table.table_oil{
    margin: auto;
    border-collapse: collapse;
    font-size: larger;
    box-shadow: 4px 5px 12px 1px black;
}

table.table_oil th{
    font-size: larger;
}

table.table_oil td{
    padding: 8px;
}

table.table_oil tr:nth-child(odd){
    background-color:var(--search-line);
}

table.table_oil tr:nth-child(even){
    background-color:var(--second-bg-color);
}

table.table_oil tr:hover{
    background-color: var(--cards-active-color);
}

table td.ref{
    cursor: url(../../img/content_copy_FILL0_wght700_GRAD200_opsz20.png), pointer;
    font-weight: 800;
}

table td.ref:hover{
    color: var(--cards-active-color);
}

span.button{
    border: 1px solid black;
    padding: 8px;
    border-radius: 2px;
    background-color: lightgray;
    box-shadow: 1px 1px 2px gray;
    display: block;
    width: fit-content;
    cursor: default;
}

span.button:active{
    box-shadow: .2px .2px 2px rgb(8, 8, 8);
    transform: translate(0.8px, 0.8px);
}

/*.assignPendingAdv::before {
    content: attr(title);
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.pass-items ul:nth-child(odd) a,
.pass-items #complete ul:nth-child(odd) a{
    color: var(--main-font-color);
}

.pass-items ul:nth-child(even) a,
.pass-items #complete ul:nth-child(even) a{
    color: var(--main-font-color);
}

.pass-items ul:hover a,
.pass-items #complete ul:hover a{
    color: var(--bg-body-color);
}

#route-items h1,
.pass-items h1{
    text-align: center;
    margin-top: 10%;
}

#contacts-items li,
#route-items li,
#cesiones li,
.pass-items li,
.pass-items #complete li,
#center-list-items li{
  display: flex;
  margin: auto 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}

#cesiones li{
    overflow-wrap: normal;
}

#contacts-items li img,
#route-items li img,
.pass-items li img,
.pass-items #complete li img,
#center-list-items li img{
  cursor: pointer;
  border-radius: 8px;
  transition: .2s;
}

#contacts-items li img:hover,
#route-items li img:hover,
.pass-items li img:hover,
.pass-items #complete li img:hover,
#center-list-items li img:hover{
  filter: brightness(1);
  box-shadow: 0 0 8px black;
}

.iconBrand{
  cursor: initial !important;
  box-shadow: none!important;
  width: 53px;
}

.openFile:hover img{
    filter: brightness(.5) !important;
}

#contacts-items li input,
#route-items li input,
.pass-items li input,
#center-list-items li input,
#complete li input,
#result li input{
  display: none;
}

#cesiones li input{
  display: block;
  width: 100px;
  text-align: center;
  appearance: none;
  border: 2px solid gray;
  border-radius: 8px;
}

.location{
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}

.location:hover{
    filter: invert(100%);
    background-color: var(--bg-body-color);
    box-shadow: 0 0 19px #725e1d;
}

.copy{
    cursor: url('../../img/content_copy_FILL0_wght700_GRAD200_opsz20.png'), pointer;
    transition: .2s;
}

.copy:hover{
    color: var(--cards-border-color);
    text-shadow: hsl(0deg 0% 0%) 2px 2px 4px
}

.info:hover{
    color: var(--cards-border-color);
    text-shadow: hsl(0deg 0% 0%) 2px 2px 4px;
    cursor: context-menu;
}

.check{
    color: red;
    font-weight: 600;
}

.delete {
    img{
        width: 24px;
        height: 24px;
    }
    i{
        font-size: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}

.delete img:hover,
.delete i:hover,
.delete span:hover{
    cursor: pointer;
    filter: invert(100)!important;
}

.erase{
    cursor: pointer;
    filter: brightness(.2);
}

.erase:hover{
    filter: brightness(1);
}

.bottons{
    display: grid;
    min-height: calc(100vh - 147px - 183px);
    flex-direction: row;
    align-items: center;
}

.bottons ul{
    list-style: none;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
}

.bottons li{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: medium;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 7px;
    padding: 8px;
    background-color: var(--bg-font-color);
    color: var(--bg-body-color);
    border-radius: 11px;
    border: 1px solid var(--bg-font-color);
    box-shadow: 0 0 5px 1px var(--bg-font-color);
    transition: .2s;
    opacity: .8;
}

.bottons li:hover{
    opacity: 1;
    background-color: var(--main-font-color);
    box-shadow: 0 0 12px 1px var(--bg-font-color);
    cursor: pointer;
}

.bottons-oil li:hover{
    font-size: medium;
}

.filter-oil{
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
}

.filter-oil li{
    font-size: medium;
    list-style: none !important;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    padding: 4px;
    margin: 0 10px;
    cursor: default;
    border-radius: 4px;
}

.header-title{
    display: flex;
}

.nPass{
    width: 60%;
    height: 37px;
    margin-bottom: 0 auto 10px auto;
}

.contactsIndex{
    width: 100%;
    z-index: -1;
    position: sticky;
    top: 95px;
    background-color: var(--bg-body-color);
    padding-bottom: 25px;
}

.contactsIndex h1{
    position: sticky;
    top: 101px
}

.heading{
    position: sticky !important;
    top: 139px;
    background-color: var(--bg-body-color) !important;
    border-bottom: 2px solid var(--main-font-color);
    border-radius: 0  !important;
    color: var(--bg-font-color) !important;
    text-transform: uppercase;
    z-index: 1;
    justify-items: center;
}

.heading:hover{
    background-color: var(--bg-body-color) !important;
    box-shadow: none !important;
    color: var(--bg-font-color) !important;
    position: sticky !important;
}

#contacts-items table {
    margin: auto;
}

#contacts-items form {
    background-color: var(--bg-body-color);
    padding-bottom: 10px;
}

.search-table{
    max-width: 1700px;
    margin: auto;
    top: 49px;
    min-height: calc(100vh - 210px);
}

#center-items{
    display: grid;
    height: calc(100vh - 356px);
    align-items: center;
}

#center-items ul{
    list-style: none;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
    margin: 0;
}

#center-items li{
    height: 50px;
}

#center-items a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 7px;
    padding: 8px;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    border-radius: 11px;
    border: 1px solid var(--bg-font-color);
    box-shadow: 0 0 5px 1px var(--bg-font-color);
    transition: .2s;
}

#center-items a:hover{
    opacity: .6;
    background-color: var(--bg-font-color);
    font-size: xx-large;
    box-shadow: 0 0 12px 1px var(--bg-font-color);
}

.spinner{
    display: block;
    margin: auto;
    margin-top: 8px;
    color: transparent !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid var(--main-font-color);
    border-top: 6px solid var(--bg-body-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner-center{
    display: block;
    top: calc(70vh / 2);
    z-index: 9999;
}

#result .spinner {
    margin-top: calc((75vh / 2) - 25px);
}

.alertReemp{
  cursor: pointer;
  opacity: .6;
  color: yellow;
}

.alertReemp:hover{
  opacity: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ASSIGNMENTS GROUP BUTTONS */
.subButtons ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.subButtons li{
    list-style: none;
    font-size: larger;
    cursor: pointer;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    padding: 4px 3px;
    width: 100px;
    height: 32px;
    text-align: center;
    border: 1px solid var(--bg-font-color);
    border-radius: 8px;
    transition: .2s;
}

.subButtons button{
    margin-right: 10px;
}

.round{
  background-color: var(--bg-body-color);
  color: var(--bg-font-color);
  border-radius: 15px;
  min-width: 12px;
  padding: 3px;
  border: 1px solid var(--bg-font-color);
  float: left;
  font-size: x-small;
  height: 12px;
  margin-right:10px;
  text-align: center;
}

.heart{
    /*box-shadow: 1px 1px  4px #5a36cf;*/
    border-radius: 8px;
    animation: heartbeat infinite 4s ease;
}

@keyframes heartbeat {
    0% {background-color: transparent}
    59%{background-color:transparent}
    60% {background-color: var(--main-font-color)}
    63% {background-color: transparent}
    66% {background-color: var(--main-font-color)}
    69% {background-color: transparent}
}

.change{
    animation: changeBox .6s cubic-bezier(0.36, -0.38, 0.57, 0.96);
}

@keyframes changeBox{
    0%{ transform: translateY(0px);}
    15%{ transform: translateY(30px);}
    100%{ transform: translateY(-500px);}
} 

.wait{
    animation: rotation360 .3s linear infinite;
}

@keyframes rotation360{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

/*tyres styles*/

#tyres-items{
    display: grid;
    grid-template-columns: 15% 85%;
}

#tyres-items ul{
    display: grid;
    list-style: none;
    grid-template-columns: 100%;
}

#tyres-items ul li{
    cursor: pointer;
    padding: 8px;
    background-color: var(--search-line);
    color: var(--main-font-color);
    border-radius: 8px;
    margin-bottom: 5px;
}

#tyres-items ul li:hover{
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    cursor: pointer;
}

#tyres-items section{
    text-align: center;
}

.tyres h1{
    text-align: center;
}

.active{
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
}

.pause{
    color: var(--main-font-color);
    animation: pause_tilt .6s infinite alternate;
    color: var(--bg-font-color);
}

@keyframes pause_tilt{
    0%{transform: scale(1);}
    100%{transform: scale(1.1);color: var(--cards-active-color);}
}

.important{
    border-radius: 4px;
    padding: 0 4px;
    font-size: 16px !important;
    animation: alert-blink .5s infinite linear;
}

.route{
    border-radius: 4px;
    padding: 0 4px;
    background-color: var(--main-notification-bg-color) !important;
    color: var(--main-notification-font-color) !important;
    font-size: 2.1em !important;
}

@keyframes alert-blink {
  0%{
    background-color: var(--cards-border-color);
    color: var(--bg-font-color);
    }
  40%{background-color: red;}
  100%{
    background-color: var(--cards-border-color);
    color: var(--bg-font-color);
    }
}

.copy-container{
    width: 200px;
    position: fixed;
    background-color: var(--main-font-color);
    z-index: 9999;
    top: 50vh;
    left: calc(50% - 110px);
    border-radius: 8px;
    opacity: .9;
    color: hwb(39deg 70% 4%);
    padding: 15px;
    text-align: center;
    font-size: larger;
    transition: .2s;
}

.alert-conatiner{
    position: fixed;
    width: 300px;
    color: var(--bg-body-color);
    background-color: var(--main-font-color);
    z-index: 9999999999;
    top: calc(100vh /5);
    margin-left: calc(50% - 150px);
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    border: 2px solid var(--bg-font-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-conatiner div:nth-child(odd){
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
}

.alert-conatiner div:nth-child(even){
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* COMPRAS EXTERNAS */

.form-extBuy{
    display: grid;
    grid-template-columns: 12% 12% 12% 10% 5% 15%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    input,select, textarea{
        width: 100%;
        text-align: center;
        border-radius: 8px;
        border: 2px solid var(--main-font-color);
        color: var(--main-font-color);
    }
}

.form-extLine section{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 2% 25% 6% 35% 14% 5%;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    border-radius: 8px;
    label{
        text-align: center;
    }
    input,select, textarea{
        border-radius: 8px;
        padding: 5px;
        border: 2px solid var(--main-font-color);
        color: var(--main-font-color);
    }
    .deleteLine{
        height: 25px;
        cursor: pointer;
        filter: brightness(.2);
        transition: .2s;
        aspect-ratio: 1/1;
    }
    .deleteLine:hover{
        filter: contrast(.2);
    }
}

.clientNameExt{
    font-size: 2.2em;
    margin: auto;
    height: 24px;
}

/* CESIONES */

.form-group{
    text-align: center;
    display: grid;
    grid-template-columns: 19% 9% 5% 10% 11% 12% 10% 6% 7% 11%;
    justify-content: space-around;
    align-items: flex-start;
}

.form-group section{
    display: grid;
    grid-gap: 0 4%;
    justify-content: center;
    justify-items: center;
}

.form-group section #clientName,
.form-group section #descRef{
    margin-top: 81px;
    font-size: small;
    width: 150px;
}

.form-group section #envio{
    width: 74px;
}

#cesiones ul>li input[type="checkbox"],
.form-group select,
.form-group input,
.search-filter select,
.search-filter input,
.form-group textarea{
    display: block;
    margin-top: 25px;
    width: 150px;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    border-radius: 8px;
    border: 2px solid var(--main-font-color);
    color: var(--main-font-color);
}

#cesiones ul>li>i{
    font-size: 24px;
}


.form-group input[type="submit"]{
    cursor: pointer;
}

.form-group input[type="submit"]:hover{
    filter: brightness(0.6);
}

.active-city{
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
    color: var(--bg-font-color);
    box-shadow: 2px 2px black;
    background: linear-gradient(123deg, var(--second-bg-color), var(--cards-border-color));
    transition: .1s;
    width: 80px;
    text-align: center;
}

.active-city:hover{
    color:var(--main-font-color);
}

.active-city-press{
    text-shadow: 0px 0px 3px greenyellow;
    color: green !important;
    box-shadow: 0.5px 0.5px;
    transform: translate(1px, 1px);
}

.active-city-press:hover{
    color: greenyellow;
}

.form-group textarea{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    height: 96px;
}

.form-group input[name="Cantidad"]{
    width: 60px;
}

#cesiones ul>li input[type="checkbox"],
.form-group input[type="checkbox"],
.search-filter input[type="checkbox"]{
    cursor: pointer;
    background-color: rgb(0, 0, 0) !important;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
    width: 48px;
    height: 48px;
    appearance: none;
    filter:invert(1);
    border: 2px solid #888;
    background-position: 0 -2rem;
    transition: all .3s ease-in-out;
}

#cesiones ul>li input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-top: 0;
}

#cesiones ul>li input[type="checkbox"]:disabled:checked,
.form-group input[type="checkbox"]:disabled:checked,
.search-filter input[type="checkbox"]:disabled:checked{
    background-color: rgb(198, 198, 198) !important;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

#cesiones ul>li input[type="checkbox"]:disabled,
.form-group input[type="checkbox"]:disabled,
.search-filter input[type="checkbox"]:disabled{
    background-color: rgb(198, 198, 198) !important;
    background-image: none;
}

#cesiones ul>li input[type="checkbox"]:focus,
.form-group input[type="checkbox"]:focus,
.search-filter input[type="checkbox"]:focus{
    border-color: var(--second-bg-color);
}

#cesiones ul>li input[type="checkbox"]:checked,
.form-group input[type="checkbox"]:checked,
.search-filter input[type="checkbox"]:checked{
    filter: invert(0);
    background-position: 0 0;
    background-color: #ffd3788a !important;
}

.search-filter{
    display: flex;
    justify-content: space-evenly;
    label{
        font-size: x-large;
        display: flex;
        justify-content: center;
    }
}

.form-group label img{
    float: left;
}

.form-group label{
    color: var(--main-font-color);
    font-size: x-large;
    height: 15px;
    margin: auto;
}

.form-group input:focus,
.form-group textarea:focus{
    background-color: #ffd3788a;
}

.assig-cpy{
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
}

.fondo{
    background-color: #ffd3788a !important;
}

.clientNameAssign{
    margin-top: 21px;
    font-size: 2.2em;
    position: absolute;
}

#number{
    font-size: xxx-large;
    text-align: center;
}

footer{
    margin: 1% 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    float: left;
}

footer div{
    border-bottom: 2px solid var(--main-font-color);
    padding-bottom: 1%;
    color: var(--bg-font-color);
}

.facebook{
    border: 1px solid var(--bg-body-color);
    background-color: inherit;
    padding: 0.25rem;
    height: auto;
    position: relative;
    font-size: .875rem;
    background: none;
    padding: 5px;
    line-height: 1.4285714286;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    border-radius: 64px;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;
margin: 0 10px;
}

.facebook:hover svg{
    fill: #725e1d;
}

.facebook svg{
    fill: var(--main-font-color);
}

.arrow-right {
    text-align: center;
    color: var(--bg-body-color);
    font-weight: bold;
    margin: 20px 0 0 0;
    line-height: 58px;
    font-size: 2.2em;
    position: relative;
    width: 167px;
    height: 52px;
    background-color: var(--main-font-color);
}

/* INMOVILIZADOS */
.csv-files{
    display: grid;
    grid-template-columns: 25% 70% 4%;
}

.csv-files section{
    grid-gap: 15px;
    margin: 7px;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    padding: 0 8px;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--bg-font-color);
    align-items: start;
}

.csv-files section:first-child{
    display: grid;
    align-content: center;
}

.csv-files section hr{
    width: 100%;
}

.csv-files section button{
    width: 100%;
    padding: 5px;
}

.history{
    cursor: pointer;
}

.history:hover{
    color:var(--bg-font-color);
    font-weight: bold;
}
/*
.csv-files section:nth-child(odd){
  height: 70vh;
}
*/
.csv-files .priority{
  font-weight: 800;
}

.btn-inmov{
    display: grid;
    grid-template-columns: 92% 8%;
    align-items: center;
}

.btn-inmov img{
    cursor: pointer;
}

.btn-inmov-inverter{
    transform: rotate(180deg);
    animation: rotar .3s;
}

.btn-inmov-180{
    transform: rotate(270deg);
    animation: rotar180 .3s;
}

@keyframes rotar {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(180deg)}
}

@keyframes rotar180 {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(270deg)}
}

.btn-inmov-normal{
    transform: rotate(0deg);
    animation: rotar2 .3s;
}

@keyframes rotar2 {
    0% {transform: rotate(180deg)}
    100% {transform: rotate(0deg)}
}

.carrusel{
    height: 145px;
    margin-top: 4px;
    animation: show-carrusel .3s;
}

@keyframes show-carrusel {
    0% {
        height: 0;
        margin-top: 0;
    }
    100% {
        height: 145px;
        margin-top: 4px;
    }
}

.carrusel-off{
    height: 0px;
    margin-top: 0px;
    animation: show-carrusel-off .3s;
}

@keyframes show-carrusel-off {
    0% {
        height: 145px;
        margin-top: 4px;
    }
    100% {
        height: 0;
        margin-top: 0;
    }
}

#complete,
#completeRef{
    background-color: var(--second-bg-color);
    color: var(--bg-font-color);
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.csv-files section:last-child{
    height: auto;
}

.completa{
    animation: getAllComplete 0.3s ease-out;
    grid-template-columns: 25% 0.5% 0% 70%;
}

.nocompleta{
    animation: getAllCompleteReverse 0.3s ease-out;
    grid-template-columns: 25% 0.5% 70% 0%;
}

.arrow-slider{
    background-color: var(--cards-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    border-radius: 8px;
    height: 72vh;
    margin: 10px -4px;
}

.arrow-ref{
    height: calc(72vh / 2);
    align-items: center;
}

.arrow-slider-active{
    background-color: #ddda21 !important;
}

.arrow-slider-inverter img{
    transform: rotate(180deg);
    margin-left:-13px;
}

.arrow-slider:hover{
    background-color: var(--cards-active-color);
}

.arrow-slider img{
    height: 28px;
    width: 29px;
}

@keyframes getAllComplete{
    0%{grid-template-columns: 25% 0.5% 70% 0%;}
    100%{grid-template-columns: 25% 0.5% 0% 70%;}

}
@keyframes getAllCompleteReverse{
    0%{grid-template-columns: 25% 0.5% 0% 70%;}
    100%{grid-template-columns: 25% 0.5% 70% 0%;}
}

#resultRef ul,
#completeRef ul{
    list-style: none;
    display: grid;
    grid-template-columns: 3% 12% 8% 6% 15% 56%;
    font-size: large;
    margin-left: -25px;
}

#result,
#resultRef{
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#result ul,
#complete ul{
    list-style: none;
    display: grid;
    grid-template-columns: 3% 12% 8% 28% 7% 16% 20% 3% 6%;
    font-size: large;
    margin-left: -25px;
}

#result ul:hover,
#complete ul:hover{
    background-color: var(--search-line);
}

#result h2,
#resultRef h2,
#complete h2,
#completeRef h2{
    text-align: center;
    border-bottom: 1PX solid;
    top: 0;
    position: sticky;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
}

#result h3,
#resultRef h3,
#complete h3,
#completeRef h3{
    text-align: center;
    font-size: 2.5em;
}

#result .heading,
#resultRef .heading{
    top:0px;
}

#result .listInm{
    grid-template-columns: 16% 10% 9% 6% 20% 10% 5%;
    margin: 0;
}

.downItems{
    cursor: pointer;
    text-decoration: underline;
}

.downItems:hover{
    color:var(--cards-active-color);
}

.inmovUpdate{
    color: #0d0d72;
    background-color: #cd0a0a;
}

.ahover{
  opacity: .5;
  font-size: x-small;
  margin-left: 4px;
}

.ahover:hover{
  opacity: 1;
}

#updateInmov select{
    width: 80px;
    font-size: 30px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

#dropContainer{
    border: 6px #6a6a6a;
    height: 180px;
    width: 90%;
    margin: 10px auto;
    border-style: dashed;
    border-radius: 27px;
    display: flex;
    font-size: 1.8em;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-body-color);
    color: var(--bg-font-color);
    overflow: hidden;
}

.drop{
    background-color: #90a144 !important;
}

.leave{
    background-color: orange !important;
}

/*Configuration Routes */
.form-addRoute li{
    list-style: none;
    display:grid;
    grid-template-columns: 30% 60%
}

#config-repere{
    list-style: none;
    display: grid;
    grid-template-columns: 13% 13% 2% 2%;
    padding: 2px;
    align-items: center;
    gap: 16px;
    font-size: 1.5em;
    justify-content: center;
    font-size: large;
    span{
        cursor: pointer;
    }
    span:hover{
        filter: brightness(0.5);
    }
}

.config-routes{
    padding-left: 35px;
}

.config-routes ul{
    list-style: none;
    display: grid;
    grid-template-columns: 4% 12% 25% 25% 1% 1%;
    padding: 2px;
    align-items: center;
    gap: 16px;
    font-size: 1.5em;
}

.config-routes ul:hover{
    background-color: var(--second-bg-color);
}

.config-routes input{
    width: 100%;
}

.config-routes img{
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.openFile{
    cursor: pointer;
}

.popUpImg{
    border: 2px solid;
    border-radius: 8px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 12px 5px black;
    background-color: var(--bg-body-color);
    left: calc(50% - 21%);
    top: calc(50vh - 40%);
    position: fixed;
    z-index:999999;
    animation: openBox .3s normal;
}

@keyframes closeBox {
    0%{
        width: 42%;
        height: 80%;
    }
    60%{
        width: 42%;
        height: 10%;
    }
    100%{
        width: 0px;
        height: 10%;
    }
    
}

.popUpImgOff{
    border: 2px solid;
    border-radius: 8px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 12px 5px black;
    background-color: var(--bg-body-color);
    left: calc(50% - 21%);
    top: calc(50vh - 40%);
    position: fixed;
    z-index:999999;
    animation: closeBox .3s normal;
}

@keyframes openBox {
    0%{
        width: 0px;
        height: 10%;
    }
    40%{
        width: 42%;
        height: 10%;
    }
    100%{
        width: 42%;
        height: 80%;
    }
}

/*.text-rainbow-animation {
    font-family:arial black;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 645s linear infinite;
  }*/
  
  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }

  /*GRAFICOS DE ESTADISTICAS*/
.monthStatus{
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.barStatus{
    background-color: #602482;
    width: 10px;
}

.barStatus::after{
    content:attr(data-name);
    transform: rotate(180deg);
    display: block;
}

.form-repere form{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 10% 40%;
    justify-content: center;
    justify-items: center;
}

.form-repere input{
    margin: 2px;
    padding: 14px;
    width: 80%;
    border-radius: 8px;
    border: 2px solid var(--cards-active-color);
}

.form-repere input:focus-visible{
    border: 2px solid var(--cards-active-color);
}

.arrowRight {
    width: 20px;
    height: 40px;
    margin-right: 23px;
    margin-top: 5px;
    position: relative;
    background: var(--cards-active-color);
}
.arrowRight:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid var(--bg-body-color);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.arrowRight:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid var(--cards-active-color);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.soc ul{
    grid-template-columns: 4% 4% 25% 5% 5% 14% 9% 10% 10%;
}

.ipList{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.ipList li{
  margin: 0 10px;
}

.head li{
    font-weight: bold;
}

.bodyContent{
    display: grid;
    grid-template-columns: 179px 794px;
}

.listPendig{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: small;
    height: 100vh;
    overflow: auto;
}

.listPendig th{
    background-color: #6a6a6a;
    position: sticky;
    top: 0px;
}

.listPendig td{
    padding: 2px;
}

.listPendigActive{
    background-color: chartreuse !important;
    color: black !important;
}

.listPendig tr:nth-child(odd){
    background-color: #516dbb;
    color: rgb(255, 255, 255);
}

.listPendig tr:nth-child(even){
    background-color:rgb(198, 198, 198);
    color:#0d0d72;
}

.toolTip{
    visibility:hidden;
    position:absolute;
    text-shadow: none;
    color: var(--bg-font-color);
    position: fixed;
    background-color: var(--cards-border-color);
    padding: 8px;
    /*margin-top: 48px;
    margin-left: 157px;*/
    border-radius: 8px;
    box-shadow: 1px 1px black;
    opacity: .9;
}

.users{
    width: 80%;
    margin: 5% auto;
}

.user_list{
    display: grid;
    grid-template-columns: 4% 19% 10% 25% 10% 15% 11%;
    justify-items: center;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.user_list:nth-child(odd){
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    img{
        filter: invert();
    }
}

.user_list:hover{
    background-color: var(--search-line);
    color: var(--bg-font-color);
    img{
        filter: invert();
    }
}

.user_list img:hover{
    opacity: .6;
    cursor: pointer;
}

    .header{
        background-color:var(--bg-font-color) !important;
        color:var(--bg-body-color) !important;
    }