@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600&display=swap");

html *{
    scrollbar-width: none;
}

body{
    font-family: Encode Sans Condensed, sans-serif; 
    letter-spacing: .01em;
    font-size: .6em;
    background-color: var(--bg-body-color);
    background-image: url(../img/Logo-PPCR-2022.png);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
}

iframe{
    border:none;
    width:100%;
    height:100%;
}

button{
    background-color: var(--cards-border-color);
    color: var(--main-font-color);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cards-active-color);
    cursor: pointer;
    box-shadow: 2px 2px var(--bg-font-color);
}

button:hover{
    background-color: var(--bg-body-color);
    color: var(--bg-font-color);
    box-shadow: 2px 2px var(--bg-font-color);
}

button:active{
    box-shadow: none !important;
    transform: translate(1px, 1px);
}

#map {
    width: 100%;
    height: 400px;
    border: 1px solid #0000007a;
    border-radius: 10px;
}

.head-img img{
    display: inline-table !important;
    width: 131px !important;
    height: 106px !important;
    position: absolute !important;
    z-index: -1 !important;
}

@keyframes brillo{
    0%{background-position: 0 50%;}
    100%{background-position: 100% 50%;}
}

.name {
    width: 250px;
    border: 2px solid var(--bg-font-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-font-color);
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-font-color);
}

.pie{
    font-size: 12px;
}

#menu{
    display: grid;
    grid-template-columns: 15% 50% 20% 10% 3% 4%;
    padding: 10px 10px 0px;
    color: var(--bg-body-color);
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--bg-body-color);
    z-index: 9;
}

#menu img{
    margin: 0 auto;
    cursor: pointer;
    width: 24px;
    height: 24px;
    filter: var(--invert-img-filter);
}

#menu img:hover{
    opacity: 0.3;
}

.head-img section{
    color: var(--main-font-color);
    font-size: larger;
    text-align: center;
    font-size: xxx-large;
}

.hide section{
    animation: rule 5s linear;
}

.head-img img{
    display: none;
}

@keyframes rule {
    0% { text-shadow:0px 0px 0px var(--bg-font-color); }
    17% { text-shadow:5px 5px 5px var(--bg-font-color); }
    32% { text-shadow:0px 5px 5px var(--bg-font-color); }
    48% { text-shadow:-5px 0px 5px var(--bg-font-color); }
    64% { text-shadow:-5px -5px 5px var(--bg-font-color); }
    80% { text-shadow:0px -5px 5px var(--bg-font-color); }
    90% { text-shadow:5px 0px 5px var(--bg-font-color); }
    100% { text-shadow:0px 0px 0px var(--bg-font-color); }
}

#menu a{
    padding-bottom: 15px;
    text-decoration: none;
    color: var(--main-font-color);
    letter-spacing: 4px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 24% 82%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;
}

#menu ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
}

#menu ul li{
    display: inline;
    padding: 0 10px;
    text-transform: uppercase;
    border-left: 1px solid var(--main-font-color);
    height: 15px;
    margin-left: 5%;
    padding: 7px;
}

#menu ul li a:hover{
    color: var(--main-font-color);
    background-size: 100% 4px;
}

#menu ul li:hover > ul{
    display: block;
}

#menu ul li ul{
    display: none;
    margin-left: -21px;
    background-color: var(--bg-body-color);
    top: 100%;
    left: 0;
    z-index: 1;
    padding: 9px;
}

#menu li ul a{
    transition: .2s;
}

#menu ul li ul a:hover{
    position: absolute;
    color: var(--bg-body-color);
    padding: 8px 15px;
    background-color: var(--main-font-color);
    background-position: 24% 100%;
    background-image: linear-gradient(grey,grey);
}


#menu ul li ul li{
    display: block;
    text-transform: uppercase;
    height: 15px;
    padding: 7px;
}

.filter{
    filter: blur(6px);
    pointer-events: none;
}

.note{
    color:var(--main-font-color);
    cursor: pointer;    
    transition: .3;
    font-size: 1.8em;
}

.note-active{
    background-color: var(--second-bg-color);
    position: fixed;
    margin-left: calc((100% / 2) - 280px);
    width: 500px;
    height: 500px;
    top: 15%;
    align-items: center;
    border: 2px solid var(--bg-font-color);
    padding: 8px;
    cursor: default;
    opacity: .95;
    border-radius: 8px;
    z-index: 9;
    animation: popup .3s normal;
    overflow: hidden;
    box-shadow: 0px 0px 16px;
}

.rebound{
    animation: rebound .2s;
}

@keyframes rebound {
    0% {transform: scale(1.0);}
    25% {transform: scale(1.05);}
    50% {transform: scale(1.0);}
    75% {transform: scale(1.05);}
    100% {transform: scale(1.0);}
}

.note-active::backdrop{
    background-color: #3b4b83;
}

.note-desactive{
    background-color: var(--second-bg-color);
    position: fixed;
    margin-left: calc((100% / 2) - 280px);
    width: 0px;
    height: 10px;
    top: 15%;
    align-items: center;
    border: 2px solid var(--bg-font-color);
    padding: 8px;
    cursor: default;
    opacity: .95;
    border-radius: 8px;
    z-index: 9;
    overflow: hidden;
    animation: popout 0.3s ease-out;
}

@keyframes popout{
    0%{
        width: 500px;
        height: 500px;
    }
    60%{
        width: 500px;
        height: 10px;
    }
    100%{
        width: 0px;
        height: 10px;
    }
} 

@keyframes popup {
    0%{
        width: 0px;
        height: 10px;
    }
    40%{
        width: 500px;
        height: 10px;
    }
    100%{
        width: 500px;
        height: 500px;
    }
}

.note-btn{
    display: flex;
    float: right;
    padding: 2px 2px;
    box-shadow: 2px 2px;
    border-radius: 4px;
    width: 25px;
    background-color: #bbbbbb;
    cursor: pointer;
}

.note-btn:hover{
    color: var(--second-bg-color);
}

.note-btn:hover img{
    filter: invert(1);
}

.note-body,
.note-body a,
.note-body input{
    font-size: 1.2em;
    margin: 5px;
    animation: showLater .5s normal;
}

.note-body h2{
    text-align: center;
    border-bottom: solid 2px var(--bg-font-color);
}

.note-body form{
    display: grid;
    grid-template-columns:20% 70%;
    justify-content: center;
    grid-gap: 5px;
}

.note-body input[type="submit"]{
    display: inline-table;
}

.note-body textarea{
    width: 450px;
    height: 380px;
    border: none;
    padding: 14px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.note-body textarea:focus-visible{
    outline: none;
}

.blackboard{
    background-color: var(--bg-body-color);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px;
}

@keyframes showLater {
    0%{display: none;}
    80%{display: none;}
    100%{display: block;}
}

.btn-plus{
    background-color: #bbbbbb;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px;
    display: inline-block;
    margin-right: 5px;
}

.btn-plus:hover{
    opacity: .8;
}

.btn-plus:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}

.form-control{
    height: 25px;
    display: grid;
    grid-template-columns: 60%;
}

.form-control label{
    color: var(--main-font-color);
    opacity: 1;
    cursor: text;
    pointer-events: none;
    z-index: 1;
    font-size: 1.8em;
    transform: translate(12px, -28px);
    transition: .3s;
}

.form-control input{
    border: 0;
    padding: 28px 0 0 6px;
    color: transparent;
    background-color: transparent;
    border-bottom: 1px solid var(--main-font-color);
    transition: .3s;
}

.form-control input:focus{
    outline: none;
    color: var(--main-font-color);
    border-width: 2px;
    font-size: 21px;
    z-index: 999;
    transition: .3s;
}

.form-control input:focus ~ label{
    display: block;
    opacity: 1;
    transition: .3s;
    transform: translate(12px ,-59px);
    font-size: .8em;
}

.container-search-bar{
    display: flex;
    justify-content: space-around;
}

.form-control span{
    display: none;
    background-color: var(--bg-body-color);
    font-size: 1.8em;
}

/*.form-control input:focus ~  span,
.form-control span:hover{
    color: var(--main-font-color);
    display: block;
}*/

.is_repere{
    color: var(--main-font-color);
    display: block !important;
}

.search{
    background-color:var(--bg-body-color);
    background-size: 100% 4px;
    padding: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0 0000007a;
    color: var(--bg-body-color);
    border-radius: 8px;
    }

.search-line{
    display: flex;
    border: 1px solid #6e6e6e7a;
    border-radius: 50px;
    align-items: center;
    transition: 0.2s;
}

.search-line select{
    background-color: transparent;
    border: none;
    color: var(--main-font-color);
    margin-right: 8px;
    text-align: right;
}

.search-line option{
    text-align: center;
}

.search-line option{
    background-color: var(--cards-active-color);
    color: var(--bg-font-color);
    font-size: large;
}

.search-line select:focus-visible{
    outline: none;
}

.client{
    width: 50%;
}

.search-line:hover{
    box-shadow: 1px 1px 8px var(--bg-font-color);
}

.search-focused{
    box-shadow: 1px 1px 8px var(--bg-font-color);
}

.search-line input{
    background-size: 100% 4px;
    padding: 4px;
    border: none;
    border-radius: 8px;
    width: calc(100% - 40px);
    font-size: large;
    background-color: var(--bg-body-color);
    color: var(--main-font-color);
}

.textbox{
    width: 100%;
}

.search-line input:focus{   
    outline: none;
    font-stretch: ultra-expanded;
}

.lupa{
    width: 20px;
    padding: 10px;
    opacity: .6;
}

.form-new{
    padding: 3px;
}

.form-new input[type="submit"]{
    padding: 8px;
    margin: auto;
    width: 57px;
}

#config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    padding: 14px;
    width: 150px;
    height: 50px;
    background-color:var(--main-font-color);
    border-radius: 8px;
    text-align: center;
    display: flex;
    box-shadow: 0 0 5px 2px var(--bg-font-color);
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    border: 2px solid;
    color: var(--bg-body-color);
    margin: 10px;
    cursor: pointer;
}

.cards:hover{
    background-color: var(--cards-active-color);
}

input[type="color"] {
    appearance:     none;
	-webkit-appearance: none;
	border: none;
    width: 100%;
    height: 81px;
    border-radius: 8px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.libreta_img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.libreta_img img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.libreta_img img:hover{
    transform: scale(1.5);
    transition: .3s;
}

#contacts{
    display: grid;
    grid-template-columns:17% 40% 50%;
    position: sticky;
    background-color: var(--bg-body-color);
    z-index: 3;
    top: 69px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#contacts h1{
    position: sticky;
    display: inline-block;
    margin-left: 1%;
}

#contacts img{
    margin-right: 12px;
}

#route-items,
#contacts-items,
.pass-items,
#center-list-items{
    max-width: 1700px;
    margin: auto;
}

#cesiones{
    text-transform: uppercase;
}

.form-group section{
    display: grid;
    /* grid-template-columns: 50% 50%;*/
    grid-gap: 0 4%;
}
.form-group section #clientName{
    margin-top: 81px;
    font-size: small;
}

#contacts-items a{
    color: var(--main-font-color);
}

#contacts-items ul,
#route-items ul,
.pass-items ul,
.pass-items #complete ul,
#center-list-items ul{
    border-radius: 5px;
    margin: 0;
    display: grid;
    grid-template-columns: 10% 20% 10% 10% 10% 10% 10% 10%;
    font-size: 1.2em;
    font-weight: bold;
}

#contacts-items .header-title{
    background-color: inherit !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contacts-items ul.header-title:hover{
    background-color: transparent !important;
    box-shadow: none;
}

#route-items ul{
    grid-template-columns: 5% 5% 25% 25% 10% 5% 7% 6% 5% 5%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pass-items ul,
.pass-items #complete ul
{
    grid-template-columns: 21% 7% 11% 21% 10% 10% 9% 7% 2%;
}

#center-list-items ul{
    grid-template-columns: 5% 5% 18% 18% 5% 5% 10% 10% 15% 5%;
    align-items: center;
    margin: 0;
    padding: 0;
}

#cesiones ul{
    grid-template-columns: 8% 8% 10% 10% 5% 10% 10% 15% 10% 5% 5% 5%;
}

.send{
    font-size: large;
    cursor: pointer;
}

.send:hover{
    filter: invert(1);
}

#cesiones ul li:first-child{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    text-align: center;
    cursor: pointer;
}

#cesiones button{
    margin-top: 10px;
    margin-left: calc(50% - 75px);
    width: 150px;
}

#route-items ul:nth-child(even),
#contacts-items ul:nth-child(even),
.pass-items ul:nth-child(even),
.pass-items #complete ul:nth-child(even),
#center-list-items ul:nth-child(even){
    background-color: var(--bg-body-color);
    color: var(--main-font-color);
}

#route-items ul:nth-child(odd),
#contacts-items ul:nth-child(odd),
.pass-items ul:nth-child(odd),
.pass-items #complete ul:nth-child(odd),
#center-list-items ul:nth-child(odd){
    background-color: var(--search-line);
    color: var(--main-font-color);
}

#route-items ul:hover,
#contacts-items ul:hover,
.pass-items ul:hover,
.pass-items #complete ul:hover,
#center-list-items ul:hover{
    background-color: var(--main-font-color);
    box-shadow: 0px 0px 13px var(--bg-font-color);
    color: var(--bg-body-color);
    cursor: context-menu;
    position: relative;
    transition: .2s;
}
#contacts-items ul:hover a{
    color:var(--bg-body-color);
}

.pass-items ul:nth-child(odd) a,
.pass-items #complete ul:nth-child(odd) a{
    color: var(--main-font-color);
}

.pass-items ul:nth-child(even) a,
.pass-items #complete ul:nth-child(even) a{
    color: var(--main-font-color);
}

.pass-items ul:hover a,
.pass-items #complete ul:hover a{
    color: var(--bg-body-color);
}

#route-items h1,
.pass-items h1{
    text-align: center;
    margin-top: 10%;
}

#contacts-items li,
#route-items li,
.pass-items li,
.pass-items #complete li,
#center-list-items li{
    display: flex;
    justify-content: center;
    padding: 0.2em;
    margin: auto 0;
    list-style: none;
    align-items: center;
}

#contacts-items li img,
#route-items li img,
.pass-items li img,
.pass-items #complete li img,
#center-list-items li img{
    margin-bottom: 5px;
    cursor: pointer;
}

#contacts-items li img:hover,
#route-items li img:hover,
.pass-items li img:hover,
.pass-items #complete li img:hover,
#center-list-items li img:hover{
    filter: brightness(0.5);
}

#contacts-items li input,
#route-items li input,
.pass-items li input,
#center-list-items li input,
#complete li input,
#result li input{
    display: none;
}

#cesiones li input{
    display: block;
    width: 100px;
    text-align: center;
}

.location{
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}

.location:hover{
    filter: invert(100%);
    background-color: var(--bg-body-color);
    box-shadow: 0 0 19px #725e1d;
}

.copy{
    cursor: url('../../img/content_copy_FILL0_wght700_GRAD200_opsz20.png'), pointer;
}

.check{
    color: red;
    font-weight: 600;
}

.delete img{
    width: 24px;
    height: 24px;
}

.delete img:hover{
    cursor: pointer;
    filter: invert(100);
}

.bottons{
    display: grid;
    min-height: calc(100vh - 147px - 183px);
    flex-direction: row;
    align-items: center;
}

.bottons ul{
    list-style: none;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
}

.bottons li{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: medium;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 7px;
    padding: 8px;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    border-radius: 11px;
    border: 1px solid var(--bg-font-color);
    box-shadow: 0 0 5px 1px var(--bg-font-color);
    transition: .2s;
}

.bottons li:hover{
    opacity: .6;
    background-color: var(--bg-font-color);
    font-size: x-large;
    box-shadow: 0 0 12px 1px var(--bg-font-color);
    cursor: pointer;
}

.nPass{
    width: 60%;
    height: 37px;
}

.contactsIndex{
    width: 100%;
    z-index: -1;
    position: sticky;
    top: 95px;
    background-color: var(--bg-body-color);
    padding-bottom: 25px;
}

.contactsIndex h1{
    position: sticky;
    top: 101px
}

.heading{
    position: sticky !important;
    top: 126px;
    background-color: var(--bg-body-color) !important;
    border-bottom: 2px solid var(--main-font-color);
    border-radius: 0  !important;
    color: var(--bg-font-color) !important;
    text-transform: uppercase;
    z-index: 1;
}

.heading:hover{
    background-color: var(--bg-body-color) !important;
    box-shadow: none !important;
    color: var(--bg-font-color) !important;
    position: sticky !important;
}

#contacts-items table {
    margin: auto;
}

#contacts-items form {
    background-color: var(--bg-body-color);
    padding-bottom: 10px;
}

.search-table{
    max-width: 1700px;
    margin: auto;
    top: 49px;
    min-height: calc(100vh - 210px);
}

#center-items{
    display: grid;
    height: calc(100vh - 356px);
    align-items: center;
}

#center-items ul{
    list-style: none;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
    margin: 0;
}

#center-items li{
    height: 50px;
}

#center-items a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 7px;
    padding: 8px;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    border-radius: 11px;
    border: 1px solid var(--bg-font-color);
    box-shadow: 0 0 5px 1px var(--bg-font-color);
    transition: .2s;
}

#center-items a:hover{
    opacity: .6;
    background-color: var(--bg-font-color);
    font-size: xx-large;
    box-shadow: 0 0 12px 1px var(--bg-font-color);
}

.spinner{
    display: block;
    margin: auto;
    margin-top: 8px;
    color: transparent !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid var(--main-font-color);
    border-top: 6px solid var(--search-line);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ASSIGNMENTS GROUP BUTTONS */
.subButtons ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.subButtons li{
    list-style: none;
    font-size: larger;
    cursor: pointer;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    padding: 10px 30px;
    border: 2px solid var(--bg-font-color);
    border-radius: 8px;
    transition: .2s;
}

.subButtons li:hover{
    filter: brightness(1.5);
}

.change{
    animation: changeBox .6s cubic-bezier(0.36, -0.38, 0.57, 0.96);
}

@keyframes changeBox{
    0%{ transform: translateY(0px);}
    15%{ transform: translateY(30px);}
    100%{ transform: translateY(-500px);}
} 

/*tyres styles*/

#tyres-items{
    display: grid;
    grid-template-columns: 15% 85%;
}

#tyres-items ul{
    display: grid;
    list-style: none;
    grid-template-columns: 100%;
}

#tyres-items ul li{
    cursor: pointer;
    padding: 8px;
    background-color: var(--search-line);
    color: var(--main-font-color);
    border-radius: 8px;
    margin-bottom: 5px;
}

#tyres-items ul li:hover{
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    cursor: pointer;
}

#tyres-items section{
    text-align: center;
}

.tyres h1{
    text-align: center;
}

.active{
    background-color: var(--main-font-color) !important;
    color: var(--bg-body-color) !important;
}

.copy-container{
    width: 200px;
    position: fixed;
    background-color: var(--main-font-color);
    z-index: 9999;
    top: 50vh;
    left: 50%;
    border-radius: 8px;
    opacity: .9;
    color: hwb(39deg 70% 4%);
    padding: 15px;
    text-align: center;
    font-size: larger;
    transition: 2s;
}

.alert-conatiner{
    position: fixed;
    width: 300px;
    height: 150px;
    color: var(--bg-body-color);
    background-color: var(--main-font-color);
    z-index: 9999999999;
    top: 33%;
    margin-left: calc(50% - 150px);
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    border: 2px solid var(--bg-font-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-conatiner div:nth-child(odd){
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
}

.alert-conatiner div:nth-child(even){
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* CESIONES */

.form-group{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#cesiones ul>li input[type="checkbox"],
.form-group select,
.form-group input,
.form-group textarea{
    display: block;
    margin-top: 25px;
    width: 150px;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    border-radius: 8px;
    border: 2px solid var(--main-font-color);
    color: var(--main-font-color);
}

.form-group textarea{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    height: 96px;
}

.form-group input[name="Cantidad"]{
    width: 60px;
}

#cesiones ul>li input[type="checkbox"],
.form-group input[type="checkbox"]{
    cursor: pointer;
    background-color: rgb(0, 0, 0) !important;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
    width: 48px;
    height: 48px;
    appearance: none;
    filter:invert(1);
    border: 2px solid #888;
    background-position: 0 -2rem;
    transition: all 0.3s ease-in-out;
}

#cesiones ul>li input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-top: 0;
}

#cesiones ul>li input[type="checkbox"]:disabled:checked,
.form-group input[type="checkbox"]:disabled:checked{
    background-color: rgb(198, 198, 198) !important;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

#cesiones ul>li input[type="checkbox"]:disabled,
.form-group input[type="checkbox"]:disabled{
    background-color: rgb(198, 198, 198) !important;
    background-image: none;
}

#cesiones ul>li input[type="checkbox"]:focus,
.form-group input[type="checkbox"]:focus{
    border-color: rgb(80, 67, 250);
}

#cesiones ul>li input[type="checkbox"]:checked,
.form-group input[type="checkbox"]:checked{
    filter: invert(0);
    background-position: 0 0;
    background-color: #ffd3788a !important;
}

.form-group label img{
    float: left;
}

.form-group label{
    color: var(--main-font-color);
    font-size: x-large;
    height: 15px;
    margin: auto;
}

.form-group input:focus,
.form-group textarea:focus{
    background-color: #ffd3788a;
}

.assig-cpy{
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
}

.fondo{
    background-color: #ffd3788a !important;
}
.clientNameAssign{
    margin-top: 21px;
    font-size: 2.2em;
    position: absolute;
}

#number{
    font-size: xxx-large;
    text-align: center;
}

footer{
    margin: 2% 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    float: left;
}

footer div{
    border-bottom: 2px solid var(--main-font-color);
    padding-bottom: 1%;
    color: var(--bg-font-color);
}

.facebook{
    border: 1px solid var(--bg-body-color);
    background-color: inherit;
    padding: 0.25rem;
    height: auto;
    position: relative;
    font-size: .875rem;
    background: none;
    padding: 5px;
    line-height: 1.4285714286;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    border-radius: 64px;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;
margin: 0 10px;
}

.facebook:hover svg{
    fill: #725e1d;
}

.facebook svg{
    fill: var(--main-font-color);
}

.arrow-right {
    text-align: center;
    color: var(--bg-body-color);
    font-weight: bold;
    margin: 20px 0 0 0;
    line-height: 58px;
    font-size: 2.2em;
    position: relative;
    width: 150px;
    height: 52px;
    background-color: var(--main-font-color);
}

/* INMOVILIZADOS */
.csv-files{
    display: grid;
    grid-template-columns: 25% 70% 4%;
}

.csv-files section{
    grid-gap: 15px;
    margin: 7px;
    background-color: var(--main-font-color);
    color: var(--bg-body-color);
    padding: 0 8px;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--bg-font-color);
    align-items: start;
}

.csv-files section:first-child{
    display: grid;
}

.csv-files section hr{
    width: 100%;
}

.csv-files section button{
    width: 100%;
    padding: 5px;
}

.csv-files section:nth-child(odd){
    justify-items: center;
    height: 580px;
}

.csv-files .priority{
    font-weight: 800;
}

#complete{
    background-color: #602482;
    height: auto;
}

.csv-files section:last-child{
    height: auto;
}

#complete{
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.completa{
    animation: getAllComplete 0.3s ease-out;
    grid-template-columns: 25% 4% 0.5% 70%;
}

.nocompleta{
    animation: getAllCompleteReverse 0.3s ease-out;
    grid-template-columns: 25% 70% 0.5% 4%;
}

.arrow-slider{
    background-color: var(--cards-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    border-radius: 8px;
    height: 80vh;
    margin: -4px;
}

.completa img{
    transform: rotate(180deg);
    margin-left:-13px;
}

.arrow-slider:hover{
    background-color: var(--cards-active-color);
}

.arrow-slider img{
    height: 28px;
    width: 29px;
}

@keyframes getAllComplete{
    0%{grid-template-columns: 25% 70% 1.5% 4%;}
    100%{grid-template-columns: 25% 4% 1.5% 70%;}

}
@keyframes getAllCompleteReverse{
    0%{grid-template-columns: 25% 4% 1.5% 70%;}
    100%{grid-template-columns: 25% 70% 1.5% 4%;}
}

#result{
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#result ul,
#complete ul{
    list-style: none;
    display: grid;
    grid-template-columns: 5% 9% 8% 28% 7% 16% 22% 3% 6%;
    font-size: large;
    margin-left: -25px;
}

#result ul:hover,
#complete ul:hover{
    background-color: var(--search-line);
}

#result h2,
#complete h2{
    text-align: center;
    border-bottom: 1PX solid;
    top: 0;
    position: sticky;
    background-color: var(--main-font-color);
}

#result h3,
#complete h3{
    text-align: center;
    font-size: 2.5em;
}

#dropContainer{
    border: 6px #6a6a6a;
    height: 100px;
    width: 100%;
    border-style: dashed;
    border-radius: 27px;
    display: flex;
    font-size: 1.8em;
    align-items: center;
    justify-content: center;
    background-color: #3b4b83;
}

.drop{
    background-color: #90a144 !important;
}

.leave{
    background-color: orange !important;
}

/*Configuration Routes */
.config-routes ul{
    list-style: none;
    display: grid;
    grid-template-columns: 4% 12% 25% 25% 5%;
    padding: 2px;
    align-items: center;
    gap: 16px;
    font-size: 1.5em;
}

.config-routes ul:hover{
    background-color: var(--second-bg-color);
}

.config-routes input{
    width: 100%;
}

.config-routes img{
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.openFile{
    cursor: pointer;
}

.popUpImg{
    border: 2px solid;
    border-radius: 8px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 12px 5px black;
    background-color: var(--bg-body-color);
    left: calc(50% - 250px);
    top: calc(50vh - 250px);
    position: fixed;
    z-index:999999;
    animation: openBox .3s normal;
}

@keyframes closeBox {
    0%{
        width: 500px;
        height: 500px;
    }
    60%{
        width: 500px;
        height: 10px;
    }
    100%{
        width: 0px;
        height: 10px;
    }
    
}

.popUpImgOff{
    border: 2px solid;
    border-radius: 8px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 12px 5px black;
    background-color: var(--bg-body-color);
    left: calc(50% - 250px);
    top: calc(50vh - 250px);
    position: fixed;
    z-index:999999;
    animation: closeBox .3s normal;
}

@keyframes openBox {
    0%{
        width: 0px;
        height: 10px;
    }
    40%{
        width: 500px;
        height: 10px;
    }
    100%{
        width: 500px;
        height: 500px;
    }
}

/*.text-rainbow-animation {
    font-family:arial black;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 645s linear infinite;
  }*/
  
  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }

  /*GRAFICOS DE ESTADISTICAS*/
.monthStatus{
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.barStatus{
    background-color: #602482;
    width: 10px;
}

.barStatus::after{
    content:attr(data-name);
    transform: rotate(180deg);
    display: block;
}

.form-repere form{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 10% 40%;
    justify-content: center;
    justify-items: center;
}

.form-repere input{
    margin: 2px;
    padding: 14px;
    width: 80%;
    border-radius: 8px;
    border: 2px solid var(--cards-active-color);
}

.form-repere input:focus-visible{
    border: 2px solid var(--cards-active-color);
}

.arrowRight {
    width: 20px;
    height: 40px;
    margin-right: 23px;
    margin-top: 5px;
    position: relative;
    background: var(--cards-active-color);
}
.arrowRight:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.arrowRight:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid var(--cards-active-color);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.soc ul{
    grid-template-columns: 4% 4% 25% 5% 5% 14% 9% 10% 10%;
}