:root{
  --main-font-color: hsl(233.27102803738316, 74.82517482517481%, 28.03921568627451%);
  --second-bg-color: hsl(233.27102803738316, 44.825174825175%, 53.039215686275%);
  --search-line: hsla(233.27102803738316, 60.825174825175%,43.039215686275%, 0.478);
  --cards-border-color: hsl(233.27102803738316, 94.825174825175%, 78.039215686275%);
  --cards-active-color: hsl(233.27102803738316, 97.825174825175%, 55.039215686275%);
  --bg-body-color: hsl(233.27102803738316, 17.825174825175%, 95.039215686275%);
  --bg-font-color: hsl(233.27102803738316, 75.825174825175%, 6.0392156862745%);
  --invert-img-filter: invert(0);
  }