:root{
  --main-font-color: hsl(0, 65%, 47.05882352941176%);
  --second-bg-color: hsl(0, 35%, 72.058823529412%);
  --search-line: hsla(0, 51%,82.058823529412%, 1);
  --cards-border-color: hsl(0, 85%, 97.058823529412%);
  --cards-active-color: hsl(0, 88%, 74.058823529412%);
  --bg-body-color: hsl(0, 8%, 114.05882352941%);
  --bg-font-color: hsl(0, 66%, 25.058823529412%);
  --invert-img-filter: invert(0);
  }