:root{
  --main-font-color: hsl(0, 86.95652173913044%, 45.09803921568628%);
  --second-bg-color: hsl(0, 56.95652173913%, 70.098039215686%);
  --search-line: hsla(0, 72.95652173913%,60.098039215686%, 0.478);
  --cards-border-color: hsl(0, 106.95652173913%, 95.098039215686%);
  --cards-active-color: hsl(0, 109.95652173913%, 72.098039215686%);
  --bg-body-color: hsl(0, 29.95652173913%, 112.09803921569%);
  --bg-font-color: hsl(0, 87.95652173913%, 23.098039215686%);
  --invert-img-filter: invert(0);
  }