:root{
  --main-font-color: hsl(203.030303030303, 79.2%, 49.01960784313725%);
  --second-bg-color: hsl(203.030303030303, 49.2%, 74.019607843137%);
  --search-line: hsla(203.030303030303, 65.2%,84.019607843137%, 1);
  --cards-border-color: hsl(203.030303030303, 99.2%, 99.019607843137%);
  --cards-active-color: hsl(203.030303030303, 102.2%, 76.019607843137%);
  --bg-body-color: hsl(203.030303030303, 22.2%, 116.01960784314%);
  --bg-font-color: hsl(203.030303030303, 80.2%, 27.019607843137%);
  --invert-img-filter: invert(0);
  }